body {
  background-color: #1c2a35;
  color: #feffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.custom-btn {
  background: #00c58e;
  color: #f1f1f1;
}

.custom-outline-btn {
  background: transparent;
  border: 1px solid #00c58e;
  color: #00c58e;
}

.btn:hover {
  border: 1px solid #00c58e;
  backdrop-filter: blur(5px);
}

.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form * {
  margin-bottom: 1rem;
}

.custom-form input {
  border: 1px solid #00c58e;
  background: transparent;
  color: #00c58e;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.custom-form a {
  color: #00c58e;
}
